site_name: ویکی FOSP
site_description: ویکی پروژه FOSP
site_url: https://wiki.fosp.ir

theme:
  custom_dir: overrides
  name: material
  direction: rtl

  features:
    - navigation.tabs
    - navigation.sections
    - toc.follow
    - search.suggest
    - search.highlight
  search:
    placeholder: "جستجو"
  palette:
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: حالت تیره
    - scheme: slate
      primary: cyan
      accent: lime
      toggle:
        icon: material/brightness-4
        name: حالت روشن

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details

plugins:
  - search



nav:
  - خانه: index.md
  - راهنما: guide.md
